body{
  font-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3{
  font-weight: bold;
}
img{
  max-width: 65%;
  max-height: 65%;
}
.row{
  margin-top: 80px;
}
#chartContainer{
  height: 450px;
}
.con{
  color: red;
}
.act{
  color: blue;
}

.rec{
  color: green;
}

.dec{
  color: yellow;
}
.state-name{
  font-weight: bold;
}
tr{
  border-bottom: 1px solid lightgrey;
}
td{

  text-align: right;
}
.one{
  text-align: left;
}
button{
  background: white;
  border: 0px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1000px) {
  td{
    font-size: 1.4em;
  }
  th{
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 1000px) {
  td{
    font-size: 1em;
  }
  th{
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 750px) {
  td{
    font-size: 0.8em;
  }
  th{
    font-size: 1em;
  }
}
@media only screen and (max-width: 500px) {
  td{
    font-size: 0.8em;
  }
  th{
    font-size: 1em;
  }
}
@media only screen and (max-width: 400px) {
  td{
    font-size: 0.7em;
  }
  th{
    font-size: 0.7em;
  }
}
